body.catalogue {
  .wrapper-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    h1 {
      text-decoration: underline solid $vertclair 5px;
      width: 740px;
      font-family: $font-airbnb-bold;
      font-size: 53px;
    }
    img {
      margin-top: 107px;
    }
  }
  .wrapper-catalogue {
    margin-top: 65px;
    margin-bottom: 150px;
    .wrapper-hr {
      display: flex;
      h3 {
        font-size: 40px;
        font-family: $font-airbnb-bold;
        text-transform: uppercase;
        margin-left: 19px;
      }
    }
    .wrapper-filtres {
      p.filtre-title {
        text-transform: uppercase;
        color: $vertclair;
        font-size: 25px;
        font-family: $font-airbnb-bold;
        margin-left: 98px;
      }
      .wrapper-buttons {
        display: flex;
        flex-direction: row;
        margin-left: 98px;
        .btn-group {
          margin-right: 42px;
          button.dropdown-toggle {
            border-radius: 25px;
            font-size: 20px;
            color: $black;
            font-family: $font-airbnb-medium;
            padding: 16px 37px;
          }
        }
      }
      .ligne1 {
        margin: 80px 97px 50px 97px;
      }
      .ligne2 {
        margin: 0px 97px 126px 97px;
      }
      .card-deck {
        .card {
          border-radius: 50px;
          .img-wrapper {
            position: relative;
            z-index: 0 !important;

            .card-img-top {
              z-index: -2 !important;
            }
            .card-img-behind {
              position: absolute;
              z-index: -1;
              bottom: -60px;
              left: 120px;
            }
            .card-img-behind6 {
              position: absolute;
              z-index: -1;
              bottom: -60px;
              right: 120px;
            }
            .card-img-behind5 {
              position: absolute;
              z-index: -1;
              bottom: -60px;
              right: 120px;
            }
          }
          .card-body {
            h5.card-title {
              font-size: 25px;
              text-transform: uppercase;
              font-family: $font-airbnb-bold;
              margin-top: 98px;
            }
            p.card-text {
              font-size: 18px;
              font-family: $font-airbnb-light;
              margin-bottom: 10px;
            }
            p.card-price {
              font-size: 18px;
              font-weight: $font-airbnb-bold;
              margin-bottom: 25px;
            }
            a.achat {
              @include btn-grey;
              padding: 11px 42px 9px 41px;
              font-size: 22px;
              margin-bottom: 30px;
              font-family: $font-airbnb-bold;
            }
          }
        }
      }
      .wrapper-pager {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        button:last-child {
          margin-right: 98px;
        }
        button.active {
          color: white;
          background-color: $vertclair;
        }
        button {
          margin-left: 12px;
          font-size: 20px;
          font-family: $font-airbnb-medium;
        }
      }
    }
  }
}
