body.homepage {
  overflow-y: hidden;
  div.wrapper-header {
    background-image: url(../image/header-trace-vert.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    height: 1003px;
    margin: 0;
    padding: 0;
    .wrapper-texte {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      margin-top: 268px;
      @media screen and (max-width: 600px) {
        margin-top: 39px;
      }
      h2 {
        width: 400px;
        font-weight: bold;
        font-size: 53px;
        color: $white;
        text-transform: uppercase;
        @media screen and (max-width: 600px) {
          font-size: 33px;
          width: 228px;
        }
      }
      p {
        width: 422px;
        color: white;
        font-size: 23px;
        font-family: $font-airbnb-light;
        margin-top: 26px;
        margin-bottom: 26px;
        @media screen and (max-width: 600px) {
          margin-top: 8px;
        }
      }

      a {
        width: 255px;
        background: $grey;
        color: $white;
        text-transform: uppercase;
        border-radius: 25px;
        font-family: $font-airbnb-bold;
        @media screen and (max-width: 600px) {
          align-self: center;
        }
      }
    }
    .wrapper-image {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 190px;
      @media screen and (max-width: 600px) {
        margin-top: 130px;
      }
    }
  }
  // Nouveauté
  div.wrapper-nouveaute {
    margin-top: 200px;
    .introduction {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      hr {
        color: #55d97c;
        border-color: #55d97c;
        background-color: #55d97c;
        height: 12px;
        width: 363px;
        margin-left: 0;
        margin-right: 23px;
      }
      h3 {
        font-size: 40px;
        font-family: $font-airbnb-bold;
      }
    }
    .container {
      margin-top: 140px;
    }
    h2 {
      font-family: $font-airbnb-bold;
      font-size: 32px;
      border-bottom: 5px solid #55d97c;
      text-transform: uppercase;
      margin-bottom: 64px;
    }
    p.price {
      margin-top: 22px;
      margin-bottom: 46px;
    }
    a {
      @include btn-grey;
      width: 331px;
      font-size: 28px;
      font-family: $font-airbnb-bold;
      @media screen and (max-width: 600px) {
        font-size: 15px;
      }
    }
    .homepart {
      p {
        width: 420px;
        margin-top: 46px;
        margin-bottom: 64px;
      }
      @media screen and (max-width: 600px) {
        a {
          margin-bottom: 46px;
        }
      }
    }
    .green-bean {
      background-image: url(../image/left-bean.png);
      background-repeat: no-repeat;
      background-position: bottom right;
      position: relative;
      height: 600px;
      @media screen and (max-width: 600px) {
        background-size: 300px 300px;
      }
      #first-solar {
        position: absolute;
        top: 30px;
        left: 50px;
        @media screen and (max-width: 600px) {
          height: 300px;
          top: 250px;
        }
      }
      #second-solar {
        position: absolute;
        top: 0;
        right: 50px;
        @media screen and (max-width: 600px) {
          height: 300px;
          top: 130px;
        }
      }
    }
  }
  .btn-catalogue {
    a {
      width: 504px;
      @include btn-grey;
      font-size: 28px;
      font-family: $font-airbnb-bold;
      margin-top: 108px;
      margin-bottom: 209px;
      @media screen and (max-width: 600px) {
        font-size: 15px;
        width: 249px;
        margin-bottom: 79px;
      }
    }
  }
}
