@font-face {
  font-family: "Airbnb Cereal App Book";
  font-style: normal;
  font-weight: normal;
  src: local("Airbnb Cereal App Book"), url("../font/AirbnbCerealBook.woff") format("woff");
}

@font-face {
  font-family: "Airbnb Cereal App Light";
  font-style: normal;
  font-weight: normal;
  src: local("Airbnb Cereal App Light"), url("../font/AirbnbCerealLight.woff") format("woff");
}

@font-face {
  font-family: "Airbnb Cereal App Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Airbnb Cereal App Medium"), url("../font/AirbnbCerealMedium.woff") format("woff");
}

@font-face {
  font-family: "Airbnb Cereal App Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Airbnb Cereal App Bold"), url("../font/AirbnbCerealBold.woff") format("woff");
}

@font-face {
  font-family: "Airbnb Cereal App Extra Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Airbnb Cereal App Extra Bold"), url("../font/AirbnbCerealExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Airbnb Cereal App Black";
  font-style: normal;
  font-weight: normal;
  src: local("Airbnb Cereal App Black"), url("../font/AirbnbCerealBlack.woff") format("woff");
}

html,
body {
  font-family: "Airbnb Cereal App Book";
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
}

span.bold {
  font-family: "Airbnb Cereal App Bold";
}

footer {
  background-color: #272727;
}

footer h5 {
  font-family: "Airbnb Cereal App Bold";
  color: white;
  -webkit-text-decoration: underline solid #55D97C;
          text-decoration: underline solid #55D97C;
  text-underline-position: under;
  margin-bottom: 50px;
}

footer p {
  color: white;
  font-size: 20px;
  margin-right: 33px;
}

footer p.contact-text {
  font-family: "Airbnb Cereal App Light";
  font-size: 17px;
  text-align: left;
  margin-left: 80px;
}

footer li {
  color: white;
}

footer li a {
  color: white;
}

footer .about-list {
  margin-left: 30px;
}

body.homepage {
  overflow-y: hidden;
}

body.homepage div.wrapper-header {
  background-image: url(../image/header-trace-vert.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  height: 1003px;
  margin: 0;
  padding: 0;
}

body.homepage div.wrapper-header .wrapper-texte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 268px;
}

body.homepage div.wrapper-header .wrapper-texte h2 {
  width: 400px;
  font-weight: bold;
  font-size: 53px;
  color: white;
  text-transform: uppercase;
}

body.homepage div.wrapper-header .wrapper-texte p {
  width: 422px;
  color: white;
  font-size: 23px;
  font-family: "Airbnb Cereal App Light";
  margin-top: 26px;
  margin-bottom: 26px;
}

body.homepage div.wrapper-header .wrapper-texte a {
  width: 255px;
  background: #3b413d;
  color: white;
  text-transform: uppercase;
  border-radius: 25px;
  font-family: "Airbnb Cereal App Bold";
}

body.homepage div.wrapper-header .wrapper-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 190px;
}

body.homepage div.wrapper-nouveaute {
  margin-top: 200px;
}

body.homepage div.wrapper-nouveaute .introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body.homepage div.wrapper-nouveaute .introduction hr {
  color: #55d97c;
  border-color: #55d97c;
  background-color: #55d97c;
  height: 12px;
  width: 363px;
  margin-left: 0;
  margin-right: 23px;
}

body.homepage div.wrapper-nouveaute .introduction h3 {
  font-size: 40px;
  font-family: "Airbnb Cereal App Bold";
}

body.homepage div.wrapper-nouveaute .container {
  margin-top: 140px;
}

body.homepage div.wrapper-nouveaute h2 {
  font-family: "Airbnb Cereal App Bold";
  font-size: 32px;
  border-bottom: 5px solid #55d97c;
  text-transform: uppercase;
  margin-bottom: 64px;
}

body.homepage div.wrapper-nouveaute p.price {
  margin-top: 22px;
  margin-bottom: 46px;
}

body.homepage div.wrapper-nouveaute a {
  background-color: #3b413d;
  border-radius: 25px;
  color: white;
  text-transform: uppercase;
  width: 331px;
  font-size: 28px;
}

body.homepage div.wrapper-nouveaute .green-bean {
  background-image: url(../image/left-bean.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  position: relative;
  height: 600px;
}

body.homepage div.wrapper-nouveaute .green-bean #first-solar {
  position: absolute;
  top: 30px;
  left: 50px;
}

body.homepage div.wrapper-nouveaute .green-bean #second-solar {
  position: absolute;
  top: 0;
  right: 50px;
}

body.homepage .btn-catalogue a {
  width: 504px;
  background-color: #3b413d;
  border-radius: 25px;
  color: white;
  text-transform: uppercase;
  font-size: 28px;
  font-family: "Airbnb Cereal App Bold";
  margin-top: 108px;
  margin-bottom: 209px;
}

body.homepage .newsletter-wrapper {
  height: 490px;
  background-color: #55D97C;
  position: relative;
}

body.homepage .newsletter-wrapper .wrapper-h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 54px;
}

body.homepage .newsletter-wrapper .wrapper-h3 h3 {
  font-family: "Airbnb Cereal App Bold";
  width: 542px;
  color: white;
}

body.homepage .newsletter-wrapper .flex-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 105px;
}

body.homepage .newsletter-wrapper .flex-form input {
  width: 688px;
}

body.homepage .newsletter-wrapper .flex-form button {
  background-color: #3b413d;
  border-radius: 25px;
  color: white;
  text-transform: uppercase;
  width: 254px;
  margin-left: 49px;
}

body.homepage .newsletter-wrapper img#team-left {
  position: absolute;
  top: -75px;
  left: -330px;
}

body.homepage .newsletter-wrapper img#team-right {
  position: absolute;
  top: -74px;
  right: -230px;
}

nav.navbar {
  background-color: #272727;
  height: 102px;
}

nav.navbar .navbar-collapse {
  background-color: #272727;
}

nav.navbar a.navbar-brand {
  margin-left: 46px;
}

nav.navbar li a {
  color: white;
  text-transform: uppercase;
  font-family: "Airbnb Cereal App Bold";
  font-size: 18px;
}

nav.navbar li.active a {
  position: relative;
}

nav.navbar li.active a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #55d97c;
  height: 6px;
  border-radius: 10px;
}

nav.navbar .nav-link {
  padding-right: 25px !important;
  padding-left: 25px !important;
}

nav.navbar div.navbar-collapse.text-right {
  margin-right: 97px;
}

nav.navbar div.navbar-collapse.text-right img {
  height: 32px;
  width: 32px;
}

@media screen and (max-width: 600px) {
  nav.navbar div.navbar-collapse.text-right {
    margin-right: 0px;
    text-align: center !important;
  }
}
/*# sourceMappingURL=import.css.map */