@font-face {
  font-family: "Airbnb Cereal App Book";
  font-style: normal;
  font-weight: normal;
  src: local("Airbnb Cereal App Book"), url("../font/AirbnbCerealBook.woff") format("woff");
}

@font-face {
  font-family: "Airbnb Cereal App Light";
  font-style: normal;
  font-weight: normal;
  src: local("Airbnb Cereal App Light"), url("../font/AirbnbCerealLight.woff") format("woff");
}

@font-face {
  font-family: "Airbnb Cereal App Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Airbnb Cereal App Medium"), url("../font/AirbnbCerealMedium.woff") format("woff");
}

@font-face {
  font-family: "Airbnb Cereal App Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Airbnb Cereal App Bold"), url("../font/AirbnbCerealBold.woff") format("woff");
}

@font-face {
  font-family: "Airbnb Cereal App Extra Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Airbnb Cereal App Extra Bold"), url("../font/AirbnbCerealExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Airbnb Cereal App Black";
  font-style: normal;
  font-weight: normal;
  src: local("Airbnb Cereal App Black"), url("../font/AirbnbCerealBlack.woff") format("woff");
}

html, body {
  font-family: "Airbnb Cereal App Book";
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
}

body.homepage div.wrapper-header {
  background-image: url(../image/header-trace-vert.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  height: 1003px;
  margin: 0;
  padding: 0;
}

body.homepage div.wrapper-header .wrapper-texte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 268px;
}

body.homepage div.wrapper-header .wrapper-texte h2 {
  width: 400px;
  font-weight: bold;
  font-size: 53px;
  color: white;
  text-transform: uppercase;
}

body.homepage div.wrapper-header .wrapper-texte p {
  width: 422px;
  color: white;
  font-size: 23px;
  font-family: "Airbnb Cereal App Light";
  margin-top: 26px;
  margin-bottom: 26px;
}

body.homepage div.wrapper-header .wrapper-texte a {
  width: 255px;
  background: #3B413D;
  color: white;
  text-transform: uppercase;
  border-radius: 25px;
  font-family: "Airbnb Cereal App Bold";
}

body.homepage div.wrapper-header .wrapper-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 190px;
}

body.homepage div.wrapper-nouveaute {
  margin-top: 200px;
}

body.homepage div.wrapper-nouveaute .introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body.homepage div.wrapper-nouveaute .introduction hr {
  color: #55D97C;
  border-color: #55D97C;
  background-color: #55D97C;
  height: 12px;
  width: 363px;
  margin-left: 0;
  margin-right: 23px;
}

body.homepage div.wrapper-nouveaute .introduction h3 {
  font-size: 40px;
  font-family: "Airbnb Cereal App Bold";
}

body.homepage div.wrapper-nouveaute a {
  background-color: #3B413D;
  border-radius: 25px;
  color: white;
  text-transform: uppercase;
  width: 331px;
}

nav.navbar {
  background-color: #272727;
  height: 102px;
}

nav.navbar .navbar-collapse {
  background-color: #272727;
}

nav.navbar a.navbar-brand {
  margin-left: 46px;
}

nav.navbar li a {
  color: white;
  text-transform: uppercase;
  font-family: "Airbnb Cereal App Bold";
  font-size: 18px;
}

nav.navbar li.active a {
  position: relative;
}

nav.navbar li.active a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #55d97c;
  height: 6px;
  border-radius: 10px;
}

nav.navbar .nav-link {
  padding-right: 25px !important;
  padding-left: 25px !important;
}

nav.navbar div.navbar-collapse.text-right {
  margin-right: 97px;
}

nav.navbar div.navbar-collapse.text-right img {
  height: 32px;
  width: 32px;
}

@media screen and (max-width: 600px) {
  nav.navbar div.navbar-collapse.text-right {
    margin-right: 0px;
    text-align: center !important;
  }
}
/*# sourceMappingURL=import.css.map */