@font-face {
  font-family: "Airbnb Cereal App Book";
  font-style: normal;
  font-weight: normal;
  src: local("Airbnb Cereal App Book"), url("../font/AirbnbCerealBook.woff") format("woff");
}

@font-face {
  font-family: "Airbnb Cereal App Light";
  font-style: normal;
  font-weight: normal;
  src: local("Airbnb Cereal App Light"), url("../font/AirbnbCerealLight.woff") format("woff");
}

@font-face {
  font-family: "Airbnb Cereal App Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Airbnb Cereal App Medium"), url("../font/AirbnbCerealMedium.woff") format("woff");
}

@font-face {
  font-family: "Airbnb Cereal App Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Airbnb Cereal App Bold"), url("../font/AirbnbCerealBold.woff") format("woff");
}

@font-face {
  font-family: "Airbnb Cereal App Extra Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Airbnb Cereal App Extra Bold"), url("../font/AirbnbCerealExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Airbnb Cereal App Black";
  font-style: normal;
  font-weight: normal;
  src: local("Airbnb Cereal App Black"), url("../font/AirbnbCerealBlack.woff") format("woff");
}

html,
body {
  font-family: "Airbnb Cereal App Book";
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
}

span.bold {
  font-family: "Airbnb Cereal App Bold";
}

span.bold-medium {
  font-family: "Airbnb Cereal App Medium";
}

footer {
  background-color: #272727;
}

footer h5 {
  font-family: "Airbnb Cereal App Bold";
  color: white;
  -webkit-text-decoration: underline solid #55D97C;
          text-decoration: underline solid #55D97C;
  text-underline-position: under;
  margin-bottom: 50px;
}

footer p {
  color: white;
  font-size: 20px;
  margin-right: 33px;
}

footer p.contact-text {
  font-family: "Airbnb Cereal App Light";
  font-size: 17px;
  text-align: left;
  margin-left: 80px;
}

footer li {
  color: white;
}

footer li a {
  color: white;
}

footer .about-list {
  margin-left: 30px;
}

.newsletter-wrapper {
  height: 490px;
  background-color: #55D97C;
  position: relative;
}

@media screen and (max-width: 600px) {
  .newsletter-wrapper {
    min-height: 154px;
    height: auto;
  }
}

.newsletter-wrapper .wrapper-h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 54px;
}

@media screen and (max-width: 600px) {
  .newsletter-wrapper .wrapper-h3 {
    padding-top: 11px;
  }
}

.newsletter-wrapper .wrapper-h3 h3 {
  font-family: "Airbnb Cereal App Bold";
  width: 542px;
  color: white;
}

@media screen and (max-width: 600px) {
  .newsletter-wrapper .wrapper-h3 h3 {
    font-size: 14px;
  }
}

.newsletter-wrapper .flex-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 105px;
}

@media screen and (max-width: 600px) {
  .newsletter-wrapper .flex-form {
    margin-top: 11px;
  }
}

.newsletter-wrapper .flex-form input {
  width: 688px;
}

@media screen and (max-width: 1600px) {
  .newsletter-wrapper .flex-form input {
    width: 500px;
  }
}

@media screen and (max-width: 600px) {
  .newsletter-wrapper .flex-form input {
    width: 300px;
    margin-bottom: 18px;
    margin-left: 30px;
  }
}

.newsletter-wrapper .flex-form button {
  background-color: #3b413d;
  border-radius: 25px;
  color: white;
  text-transform: uppercase;
  width: 254px;
  margin-left: 49px;
}

@media screen and (max-width: 600px) {
  .newsletter-wrapper .flex-form button {
    margin-bottom: 18px !important;
  }
}

@media screen and (max-width: 1600px) {
  .newsletter-wrapper .flex-form button {
    width: 200px;
  }
}

.newsletter-wrapper img#team-left {
  position: absolute;
  top: -75px;
  left: -330px;
}

@media screen and (max-width: 600px) {
  .newsletter-wrapper img#team-left {
    display: none;
  }
}

.newsletter-wrapper img#team-right {
  position: absolute;
  top: -74px;
  right: -230px;
}

@media screen and (max-width: 600px) {
  .newsletter-wrapper img#team-right {
    display: none;
  }
}

.hr-vert {
  color: #55d97c;
  border-color: #55d97c;
  background-color: #55d97c;
  height: 12px;
  width: 363px;
  margin-left: 0;
  margin-right: 23px;
}

@media screen and (max-width: 600px) {
  .hr-vert {
    width: 115px !important;
  }
}

.wrapper-retour {
  margin-top: 43px;
}

.wrapper-retour a {
  -webkit-text-decoration: underline solid #55D97C;
          text-decoration: underline solid #55D97C;
  text-underline-position: under;
  font-family: "Airbnb Cereal App Bold";
  font-size: 20px;
  color: black;
}

.wrapper-retour .green {
  color: #55D97C;
  margin-right: 17px;
  margin-left: 45px;
}

body.homepage {
  overflow-y: hidden;
}

body.homepage div.wrapper-header {
  background-image: url(../image/header-trace-vert.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  height: 1003px;
  margin: 0;
  padding: 0;
}

body.homepage div.wrapper-header .wrapper-texte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 178px;
}

@media screen and (max-width: 600px) {
  body.homepage div.wrapper-header .wrapper-texte {
    margin-top: 39px;
  }
}

body.homepage div.wrapper-header .wrapper-texte h2 {
  width: 400px;
  font-weight: bold;
  font-size: 53px;
  color: white;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  body.homepage div.wrapper-header .wrapper-texte h2 {
    font-size: 33px;
    width: 228px;
  }
}

body.homepage div.wrapper-header .wrapper-texte p {
  width: 580px;
  color: white;
  font-size: 18px;
  font-family: "Airbnb Cereal App Light";
  margin-top: 26px;
  margin-bottom: 140px;
}

@media screen and (max-width: 600px) {
  body.homepage div.wrapper-header .wrapper-texte p {
    margin-top: 8px;
  }
}

body.homepage div.wrapper-header .wrapper-texte a {
  width: 255px;
  background: #3b413d;
  color: white;
  text-transform: uppercase;
  border-radius: 25px;
  font-size: 22px;
  font-family: "Airbnb Cereal App Bold";
}

@media screen and (max-width: 600px) {
  body.homepage div.wrapper-header .wrapper-texte a {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

body.homepage div.wrapper-header .green-bean {
  position: relative;
}

body.homepage div.wrapper-header .green-bean #first-solar {
  position: absolute;
  top: 250px;
  left: 50px;
}

@media screen and (max-width: 600px) {
  body.homepage div.wrapper-header .green-bean #first-solar {
    height: 300px;
    top: 250px;
  }
}

body.homepage div.wrapper-header .green-bean #second-solar {
  position: absolute;
  top: 100px;
  right: 50px;
}

@media screen and (max-width: 600px) {
  body.homepage div.wrapper-header .green-bean #second-solar {
    height: 300px;
    top: 130px;
  }
}

body.homepage div.wrapper-nouveaute {
  margin-top: 200px;
}

body.homepage div.wrapper-nouveaute .introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body.homepage div.wrapper-nouveaute .introduction hr {
  color: #55d97c;
  border-color: #55d97c;
  background-color: #55d97c;
  height: 12px;
  width: 363px;
  margin-left: 0;
  margin-right: 23px;
}

body.homepage div.wrapper-nouveaute .introduction h3 {
  font-size: 40px;
  font-family: "Airbnb Cereal App Bold";
}

body.homepage div.wrapper-nouveaute .container {
  margin-top: 140px;
}

body.homepage div.wrapper-nouveaute h2 {
  font-family: "Airbnb Cereal App Bold";
  font-size: 32px;
  border-bottom: 5px solid #55d97c;
  text-transform: uppercase;
  margin-bottom: 64px;
}

body.homepage div.wrapper-nouveaute p.price {
  margin-top: 22px;
  margin-bottom: 46px;
}

body.homepage div.wrapper-nouveaute a {
  background-color: #3b413d;
  border-radius: 25px;
  color: white;
  text-transform: uppercase;
  width: 331px;
  font-size: 28px;
  font-family: "Airbnb Cereal App Bold";
}

@media screen and (max-width: 600px) {
  body.homepage div.wrapper-nouveaute a {
    font-size: 15px;
  }
}

body.homepage div.wrapper-nouveaute .homepart {
  margin-bottom: 230px;
}

body.homepage div.wrapper-nouveaute .homepart p {
  width: 420px;
  margin-top: 46px;
  margin-bottom: 64px;
}

@media screen and (max-width: 600px) {
  body.homepage div.wrapper-nouveaute .homepart a {
    margin-bottom: 46px;
  }
}

body.homepage .wrapper-carousel {
  margin-bottom: 250px;
  /* the parent */
}

body.homepage .wrapper-carousel .slick-slide {
  margin: 0 27px;
  opacity: 0.5;
}

body.homepage .wrapper-carousel .slick-list {
  margin: 0 -27px;
}

body.homepage .wrapper-carousel .slick-center {
  opacity: 1;
}

nav.navbar {
  background-color: #272727;
  height: 102px;
}

nav.navbar .navbar-collapse {
  background-color: #272727;
}

nav.navbar a.navbar-brand {
  margin-left: 46px;
}

nav.navbar li a {
  color: white;
  text-transform: uppercase;
  font-family: "Airbnb Cereal App Bold";
  font-size: 18px;
}

nav.navbar li.active a {
  position: relative;
}

nav.navbar li.active a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #55d97c;
  height: 6px;
  border-radius: 10px;
}

nav.navbar .nav-link {
  padding-right: 25px !important;
  padding-left: 25px !important;
}

nav.navbar div.navbar-collapse.text-right {
  margin-right: 97px;
}

nav.navbar div.navbar-collapse.text-right img {
  height: 32px;
  width: 32px;
}

@media screen and (max-width: 600px) {
  nav.navbar div.navbar-collapse.text-right {
    margin-right: 0px;
    text-align: center !important;
  }
}

body.about .wrapper-team {
  margin-top: 210px;
  margin-left: 150px;
  margin-right: 150px;
}

@media screen and (max-width: 600px) {
  body.about .wrapper-team {
    margin-top: 70px;
    margin-left: 77px;
    margin-right: 77px;
  }
}

body.about .wrapper-team h1 {
  text-align: center;
  -webkit-text-decoration: underline solid #55D97C;
          text-decoration: underline solid #55D97C;
  text-underline-position: under;
  text-transform: uppercase;
  color: black;
  font-family: "Airbnb Cereal App Bold";
  margin-bottom: 150px;
}

@media screen and (max-width: 600px) {
  body.about .wrapper-team h1 {
    font-size: 20px;
    width: 274px;
    margin-bottom: 68px;
    margin-left: -30px;
  }
}

body.about .wrapper-team p.name {
  text-align: center;
  font-family: "Airbnb Cereal App Bold";
  font-size: 25px;
  margin-top: 23px;
  margin-bottom: 0px;
}

@media screen and (max-width: 600px) {
  body.about .wrapper-team p.name {
    font-size: 15px;
  }
}

body.about .wrapper-team p.fonction {
  text-align: center;
  font-size: 20px;
  font-family: "Airbnb Cereal App Light";
}

@media screen and (max-width: 600px) {
  body.about .wrapper-team p.fonction {
    font-size: 14px;
  }
}

body.about .wrapper-histoire {
  margin-bottom: 244px;
}

@media screen and (max-width: 600px) {
  body.about .wrapper-histoire {
    margin-bottom: 50px;
  }
}

body.about .wrapper-histoire h2 {
  color: black;
  text-transform: uppercase;
  -webkit-text-decoration: underline solid #55D97C;
          text-decoration: underline solid #55D97C;
  text-underline-position: under;
  font-family: "Airbnb Cereal App Bold";
  font-size: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 260px;
  margin-bottom: 102px;
  text-align: center;
  width: 980px;
}

@media screen and (max-width: 600px) {
  body.about .wrapper-histoire h2 {
    width: 306px;
    font-size: 20px;
    margin-top: 71px;
    margin-bottom: 83px;
  }
}

body.about .wrapper-histoire p {
  font-family: "Airbnb Cereal App Light";
  font-size: 20px;
  width: 90%;
}

@media screen and (max-width: 600px) {
  body.about .wrapper-histoire p {
    font-size: 14px;
    width: 100%;
  }
}

body.about .wrapper-histoire h4.title-histoire,
body.about .wrapper-histoire h4.title-foret {
  text-align: center;
  font-size: 25px;
  font-family: "Airbnb Cereal App Bold";
  -webkit-text-decoration: underline solid #55D97C;
          text-decoration: underline solid #55D97C;
  text-underline-position: under;
}

body.about .wrapper-histoire h4.title-histoire {
  margin-top: 38px;
  margin-bottom: 60px;
}

body.about .wrapper-histoire h4.title-foret {
  margin-top: 38px;
  margin-bottom: 60px;
}

body.about .wrapper-histoire img#world {
  margin-top: 99px;
}

@media screen and (max-width: 600px) {
  body.about .wrapper-histoire img#world {
    margin-top: 70px;
  }
}

body.about .wrapper-histoire img#forest {
  margin-top: 240px;
}

@media screen and (max-width: 600px) {
  body.about .wrapper-histoire img#forest {
    margin-top: 70px;
  }
}

body.catalogue .wrapper-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body.catalogue .wrapper-header h1 {
  -webkit-text-decoration: underline solid #55D97C 5px;
          text-decoration: underline solid #55D97C 5px;
  width: 740px;
  font-family: "Airbnb Cereal App Bold";
  font-size: 53px;
}

body.catalogue .wrapper-header img {
  margin-top: 107px;
}

body.catalogue .wrapper-catalogue {
  margin-top: 65px;
  margin-bottom: 150px;
}

body.catalogue .wrapper-catalogue .wrapper-hr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body.catalogue .wrapper-catalogue .wrapper-hr h3 {
  font-size: 40px;
  font-family: "Airbnb Cereal App Bold";
  text-transform: uppercase;
  margin-left: 19px;
}

body.catalogue .wrapper-catalogue .wrapper-filtres p.filtre-title {
  text-transform: uppercase;
  color: #55D97C;
  font-size: 25px;
  font-family: "Airbnb Cereal App Bold";
  margin-left: 98px;
}

body.catalogue .wrapper-catalogue .wrapper-filtres .wrapper-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 98px;
}

body.catalogue .wrapper-catalogue .wrapper-filtres .wrapper-buttons .btn-group {
  margin-right: 42px;
}

body.catalogue .wrapper-catalogue .wrapper-filtres .wrapper-buttons .btn-group button.dropdown-toggle {
  border-radius: 25px;
  font-size: 20px;
  color: black;
  font-family: "Airbnb Cereal App Medium";
  padding: 16px 37px;
}

body.catalogue .wrapper-catalogue .wrapper-filtres .ligne1 {
  margin: 80px 97px 50px 97px;
}

body.catalogue .wrapper-catalogue .wrapper-filtres .ligne2 {
  margin: 0px 97px 126px 97px;
}

body.catalogue .wrapper-catalogue .wrapper-filtres .card-deck .card {
  border-radius: 50px;
}

body.catalogue .wrapper-catalogue .wrapper-filtres .card-deck .card .img-wrapper {
  position: relative;
  z-index: 0 !important;
}

body.catalogue .wrapper-catalogue .wrapper-filtres .card-deck .card .img-wrapper .card-img-top {
  z-index: -2 !important;
}

body.catalogue .wrapper-catalogue .wrapper-filtres .card-deck .card .img-wrapper .card-img-behind {
  position: absolute;
  z-index: -1;
  bottom: -60px;
  left: 120px;
}

body.catalogue .wrapper-catalogue .wrapper-filtres .card-deck .card .img-wrapper .card-img-behind6 {
  position: absolute;
  z-index: -1;
  bottom: -60px;
  right: 120px;
}

body.catalogue .wrapper-catalogue .wrapper-filtres .card-deck .card .img-wrapper .card-img-behind5 {
  position: absolute;
  z-index: -1;
  bottom: -60px;
  right: 120px;
}

body.catalogue .wrapper-catalogue .wrapper-filtres .card-deck .card .card-body h5.card-title {
  font-size: 25px;
  text-transform: uppercase;
  font-family: "Airbnb Cereal App Bold";
  margin-top: 98px;
}

body.catalogue .wrapper-catalogue .wrapper-filtres .card-deck .card .card-body p.card-text {
  font-size: 18px;
  font-family: "Airbnb Cereal App Light";
  margin-bottom: 10px;
}

body.catalogue .wrapper-catalogue .wrapper-filtres .card-deck .card .card-body p.card-price {
  font-size: 18px;
  font-weight: "Airbnb Cereal App Bold";
  margin-bottom: 25px;
}

body.catalogue .wrapper-catalogue .wrapper-filtres .card-deck .card .card-body a.achat {
  background-color: #3b413d;
  border-radius: 25px;
  color: white;
  text-transform: uppercase;
  padding: 11px 42px 9px 41px;
  font-size: 22px;
  margin-bottom: 30px;
  font-family: "Airbnb Cereal App Bold";
}

body.catalogue .wrapper-catalogue .wrapper-filtres .wrapper-pager {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body.catalogue .wrapper-catalogue .wrapper-filtres .wrapper-pager button:last-child {
  margin-right: 98px;
}

body.catalogue .wrapper-catalogue .wrapper-filtres .wrapper-pager button.active {
  color: white;
  background-color: #55D97C;
}

body.catalogue .wrapper-catalogue .wrapper-filtres .wrapper-pager button {
  margin-left: 12px;
  font-size: 20px;
  font-family: "Airbnb Cereal App Medium";
}

body.contact .contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 96px;
  margin-bottom: 141px;
}

body.contact .contact-wrapper .left-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body.contact .contact-wrapper .left-part img {
  width: 471px;
  height: 347px;
}

body.contact .contact-wrapper .left-part h2 {
  width: 538px;
  font-size: 53px;
  -webkit-text-decoration: underline solid #55D97C;
          text-decoration: underline solid #55D97C;
  text-underline-position: under;
  font-family: "Airbnb Cereal App Bold";
  margin-top: 91px;
  margin-bottom: 75px;
}

body.contact .contact-wrapper .left-part p {
  width: 517px;
  font-size: 20px;
  font-family: "Airbnb Cereal App Light";
}

body.contact .contact-wrapper .right-part {
  width: 50%;
}

body.contact .contact-wrapper .right-part h1 {
  font-size: 53px;
  font-family: "Airbnb Cereal App Bold";
  -webkit-text-decoration: underline solid #55D97C;
          text-decoration: underline solid #55D97C;
  text-underline-position: under;
  margin-bottom: 22px;
}

body.contact .contact-wrapper .right-part .form-row {
  margin-bottom: 46px;
}

body.contact .contact-wrapper .right-part label {
  margin-bottom: 22px;
  font-family: "Airbnb Cereal App Bold";
  font-size: 20px;
}

body.contact .contact-wrapper .right-part input {
  border-radius: 25px;
  border-color: #55D97C;
  width: 441px;
}

@media screen and (max-width: 1600px) {
  body.contact .contact-wrapper .right-part input#nom, body.contact .contact-wrapper .right-part input#prenom {
    width: 220px;
  }
}

body.contact .contact-wrapper .right-part input::-webkit-input-placeholder {
  font-size: 20px;
  font-family: "Airbnb Cereal App Light";
  padding: 11px 115px 11px 16px;
}

body.contact .contact-wrapper .right-part input:-ms-input-placeholder {
  font-size: 20px;
  font-family: "Airbnb Cereal App Light";
  padding: 11px 115px 11px 16px;
}

body.contact .contact-wrapper .right-part input::-ms-input-placeholder {
  font-size: 20px;
  font-family: "Airbnb Cereal App Light";
  padding: 11px 115px 11px 16px;
}

body.contact .contact-wrapper .right-part input::placeholder {
  font-size: 20px;
  font-family: "Airbnb Cereal App Light";
  padding: 11px 115px 11px 16px;
}

body.contact .contact-wrapper .right-part textarea {
  border-radius: 25px;
  border-color: #55D97C;
  height: 162px;
}

body.contact .contact-wrapper .right-part textarea::-webkit-input-placeholder {
  font-size: 20px;
  font-family: "Airbnb Cereal App Light";
  padding: 11px 115px 11px 16px;
}

body.contact .contact-wrapper .right-part textarea:-ms-input-placeholder {
  font-size: 20px;
  font-family: "Airbnb Cereal App Light";
  padding: 11px 115px 11px 16px;
}

body.contact .contact-wrapper .right-part textarea::-ms-input-placeholder {
  font-size: 20px;
  font-family: "Airbnb Cereal App Light";
  padding: 11px 115px 11px 16px;
}

body.contact .contact-wrapper .right-part textarea::placeholder {
  font-size: 20px;
  font-family: "Airbnb Cereal App Light";
  padding: 11px 115px 11px 16px;
}

body.contact .contact-wrapper .right-part button {
  background-color: #3b413d;
  border-radius: 25px;
  color: white;
  text-transform: uppercase;
  padding: 10px 76px;
  font-size: 22px;
  font-family: "Airbnb Cereal App Bold";
  color: white;
}

body.product .wrapper-product {
  margin-top: 140px;
  margin-bottom: 140px;
  position: relative;
}

body.product .wrapper-product .bean {
  position: absolute;
  left: 36%;
  top: -25%;
  z-index: -2;
}

@media (min-width: 1200px) {
  body.product .wrapper-product .container {
    max-width: 1430px;
  }
}

body.product .wrapper-product .carousel {
  margin-top: 100px;
}

body.product .wrapper-product .carousel .carousel-item img {
  height: 425px;
  max-height: 425px;
}

body.product .wrapper-product .carousel .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: grey;
}

body.product .wrapper-product .carousel .carousel-control-prev-icon {
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}

body.product .wrapper-product .carousel .carousel-control-next-icon {
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%' width='2' height='2' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}

body.product .wrapper-product .right-part .title-prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body.product .wrapper-product .right-part .title-prix h1 {
  font-size: 43px;
  -webkit-text-decoration: underline solid #55D97C;
          text-decoration: underline solid #55D97C;
  text-underline-position: under;
  font-family: "Airbnb Cereal App Bold";
}

body.product .wrapper-product .right-part .title-prix p {
  font-size: 45px;
  font-family: "Airbnb Cereal App Bold";
  margin: 0;
}

body.product .wrapper-product .right-part .description {
  position: relative;
  z-index: 999;
  margin-top: 32px;
  padding: 38px 169px 37px 75px;
  width: 100%;
  border-radius: 25px;
}

body.product .wrapper-product .right-part .description a {
  background-color: #3b413d;
  border-radius: 25px;
  color: white;
  text-transform: uppercase;
  font-family: "Airbnb Cereal App Bold";
  text-transform: uppercase;
  color: white;
  font-size: 22px;
  width: 255px;
  margin-top: 40px;
}

body.product .autre-produits .wrapper-hr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body.product .autre-produits .wrapper-hr h3 {
  font-size: 40px;
  font-family: "Airbnb Cereal App Bold";
  text-transform: uppercase;
  margin-left: 19px;
}

body.product .autre-produits .wrapper-produitsassocies .ligne1 {
  margin: 80px 97px 50px 97px;
}

body.product .autre-produits .wrapper-produitsassocies .ligne2 {
  margin: 0px 97px 126px 97px;
}

body.product .autre-produits .wrapper-produitsassocies .card-deck .card {
  border-radius: 50px;
}

body.product .autre-produits .wrapper-produitsassocies .card-deck .card .img-wrapper {
  position: relative;
  z-index: 0 !important;
}

body.product .autre-produits .wrapper-produitsassocies .card-deck .card .img-wrapper .card-img-top {
  z-index: -2 !important;
}

body.product .autre-produits .wrapper-produitsassocies .card-deck .card .img-wrapper .card-img-behind {
  position: absolute;
  z-index: -1;
  bottom: -60px;
  left: 120px;
}

body.product .autre-produits .wrapper-produitsassocies .card-deck .card .img-wrapper .card-img-behind6 {
  position: absolute;
  z-index: -1;
  bottom: -60px;
  right: 120px;
}

body.product .autre-produits .wrapper-produitsassocies .card-deck .card .img-wrapper .card-img-behind5 {
  position: absolute;
  z-index: -1;
  bottom: -60px;
  right: 120px;
}

body.product .autre-produits .wrapper-produitsassocies .card-deck .card .card-body h5.card-title {
  font-size: 25px;
  text-transform: uppercase;
  font-family: "Airbnb Cereal App Bold";
  margin-top: 98px;
}

body.product .autre-produits .wrapper-produitsassocies .card-deck .card .card-body p.card-text {
  font-size: 18px;
  font-family: "Airbnb Cereal App Light";
  margin-bottom: 10px;
}

body.product .autre-produits .wrapper-produitsassocies .card-deck .card .card-body p.card-price {
  font-size: 18px;
  font-weight: "Airbnb Cereal App Bold";
  margin-bottom: 25px;
}

body.product .autre-produits .wrapper-produitsassocies .card-deck .card .card-body a.achat {
  background-color: #3b413d;
  border-radius: 25px;
  color: white;
  text-transform: uppercase;
  padding: 11px 42px 9px 41px;
  font-size: 22px;
  margin-bottom: 30px;
  font-family: "Airbnb Cereal App Bold";
}

body.login .wrapper-login {
  margin-top: 117px;
  margin-bottom: 108px;
  margin-left: auto;
  margin-right: auto;
  width: 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
}

@media screen and (max-width: 600px) {
  body.login .wrapper-login {
    width: 346px;
  }
}

body.login .wrapper-login h1 {
  -webkit-text-decoration: underline solid #55D97C;
          text-decoration: underline solid #55D97C;
  text-underline-position: under;
  font-size: 40px;
  font-family: "Airbnb Cereal App Bold";
  margin-top: 88px;
}

body.login form input {
  border-radius: 25px;
  border-color: #55D97C;
  width: 657px;
}

body.login form input::-webkit-input-placeholder {
  font-size: 20px;
  font-family: "Airbnb Cereal App Light";
  padding: 14px 115px 14px 22px;
}

body.login form input:-ms-input-placeholder {
  font-size: 20px;
  font-family: "Airbnb Cereal App Light";
  padding: 14px 115px 14px 22px;
}

body.login form input::-ms-input-placeholder {
  font-size: 20px;
  font-family: "Airbnb Cereal App Light";
  padding: 14px 115px 14px 22px;
}

body.login form input::placeholder {
  font-size: 20px;
  font-family: "Airbnb Cereal App Light";
  padding: 14px 115px 14px 22px;
}

body.login form input#email {
  margin: 51px 0 41px 0;
}

body.login form input#mdp {
  margin-bottom: 17px;
}

body.login form small#mdpHelp {
  margin-bottom: 33px;
  margin-left: 5px;
  -webkit-text-decoration: underline solid gray;
          text-decoration: underline solid gray;
}

body.login form button {
  background-color: #3b413d;
  border-radius: 25px;
  color: white;
  text-transform: uppercase;
  font-family: "Airbnb Cereal App Bold";
  width: 254px;
  font-size: 22px;
}

body.login form .other-connexion {
  margin-top: 18px;
  margin-bottom: 18px;
  font-size: 17px;
  font-family: "Airbnb Cereal App Light";
}

body.login form .other-connexion .logo {
  margin-top: 18px;
  margin-bottom: 43px;
}

body.login form .other-connexion .logo #fb {
  margin-left: 35px;
}

body.login form .no-compte {
  margin-bottom: 40px;
  font-family: "Airbnb Cereal App Light";
  font-size: 20px;
}

body.login form .no-compte a {
  -webkit-text-decoration: underline solid #55D97C;
          text-decoration: underline solid #55D97C;
  text-underline-position: under;
  color: black;
}

body.signup .wrapper-signup {
  margin-top: 117px;
  margin-bottom: 108px;
  margin-left: auto;
  margin-right: auto;
  width: 1103px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
}

@media screen and (max-width: 600px) {
  body.signup .wrapper-signup {
    width: 346px;
  }
}

body.signup .wrapper-signup h1 {
  -webkit-text-decoration: underline solid #55D97C;
          text-decoration: underline solid #55D97C;
  text-underline-position: under;
  font-size: 40px;
  font-family: "Airbnb Cereal App Bold";
  margin-top: 28px;
  margin-bottom: 54px;
}

body.signup .wrapper-signup form {
  margin-left: 76px;
  margin-right: 76px;
}

body.signup .wrapper-signup form label {
  font-size: 20px;
  font-family: "Airbnb Cereal App Bold";
  margin-left: 15px;
}

body.signup .wrapper-signup form input {
  border-radius: 25px;
  border-color: #55D97C;
  width: 441px;
}

body.signup .wrapper-signup form input#nom, body.signup .wrapper-signup form input#prenom, body.signup .wrapper-signup form input#email, body.signup .wrapper-signup form input#pwd {
  margin-right: 77px;
}

body.signup .wrapper-signup form input::-webkit-input-placeholder {
  font-size: 20px;
  font-family: "Airbnb Cereal App Light";
  padding: 14px 115px 14px 22px;
}

body.signup .wrapper-signup form input:-ms-input-placeholder {
  font-size: 20px;
  font-family: "Airbnb Cereal App Light";
  padding: 14px 115px 14px 22px;
}

body.signup .wrapper-signup form input::-ms-input-placeholder {
  font-size: 20px;
  font-family: "Airbnb Cereal App Light";
  padding: 14px 115px 14px 22px;
}

body.signup .wrapper-signup form input::placeholder {
  font-size: 20px;
  font-family: "Airbnb Cereal App Light";
  padding: 14px 115px 14px 22px;
}

body.signup .wrapper-signup form .other-connexion {
  margin-top: 18px;
  margin-bottom: 18px;
  font-size: 17px;
  font-family: "Airbnb Cereal App Light";
}

body.signup .wrapper-signup form .other-connexion .logo {
  margin-top: 18px;
  margin-bottom: 43px;
}

body.signup .wrapper-signup form .other-connexion .logo #fb {
  margin-left: 35px;
}

body.signup .wrapper-signup form .no-compte {
  margin-bottom: 40px;
  font-family: "Airbnb Cereal App Light";
  font-size: 20px;
}

body.signup .wrapper-signup form .no-compte a {
  -webkit-text-decoration: underline solid #55D97C;
          text-decoration: underline solid #55D97C;
  text-underline-position: under;
  color: black;
}

body.signup .wrapper-signup form button {
  background-color: #3b413d;
  border-radius: 25px;
  color: white;
  text-transform: uppercase;
  font-family: "Airbnb Cereal App Bold";
  width: 254px;
  font-size: 22px;
  margin-top: 45px;
  margin-bottom: 37px;
}

body.cart .wrapper-etapes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  font-size: 20px;
}

@media screen and (max-width: 1600px) {
  body.cart .wrapper-etapes {
    width: 80%;
  }
}

body.cart .wrapper-etapes .firstStep {
  font-family: "Airbnb Cereal App Bold";
  font-size: 20px;
}

body.cart .wrapper-etapes img {
  margin-right: 10px;
}

body.cart .wrapper-etapes .arrow-right {
  color: #55D97C;
  margin-left: 60px;
  margin-right: 60px;
}

body.cart .wrapper-details {
  width: 1320px;
  margin-left: auto;
  margin-right: auto;
}

body.cart .wrapper-details .wrapper-h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 66px;
}

body.cart .wrapper-details .wrapper-h1 h1 {
  font-size: 53px;
  font-family: "Airbnb Cereal App Bold";
  -webkit-text-decoration: underline solid #55D97C;
          text-decoration: underline solid #55D97C;
  text-underline-position: under;
  margin-bottom: 170px;
}

body.cart .wrapper-details .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 50px;
  margin-bottom: 170px;
}

body.cart .wrapper-details .wrapper .inner-details {
  width: 587px;
  height: 270px;
  padding: 50px;
  border-radius: 25px;
  margin-top: 60px;
}

body.cart .wrapper-details .wrapper .inner-details .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body.cart .wrapper-details .wrapper .inner-details .item img#solar {
  height: 200px;
  width: 130px;
}

body.cart .wrapper-details .wrapper .inner-details .item .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 200px;
}

body.cart .wrapper-details .wrapper .inner-details .item .content p {
  margin: 0;
}

body.cart .wrapper-details .wrapper .inner-details .item .content p.name {
  margin-bottom: 38px;
  font-family: "Airbnb Cereal App Bold";
  font-size: 20px;
}

body.cart .wrapper-details .wrapper .inner-details .item .content .inner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 250px;
}

body.cart .wrapper-details .wrapper .inner-details .item .content .inner-content p.price {
  font-size: 24px;
  font-family: "Airbnb Cereal App Bold";
}

body.cart .wrapper-details .wrapper .inner-details .item .content .inner-content p.quantite {
  font-family: "Airbnb Cereal App Bold";
}

body.cart .wrapper-details .wrapper .inner-details .item .content .inner-content p.quantite span.number {
  background-color: #55D97C;
  display: inline-block;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  margin-left: 11px;
  margin-right: 11px;
}

body.cart .second-part .wrapper-h3 {
  padding-top: 15px;
}

body.cart .second-part a {
  margin-bottom: 30px;
}

body.cart .sous-total {
  width: 500px;
  height: auto;
  border-radius: 25px;
}

body.cart .sous-total h3 {
  text-transform: uppercase;
  font-family: "Airbnb Cereal App Bold";
  font-size: 30px;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 53px;
  -webkit-text-decoration: underline solid #55D97C;
          text-decoration: underline solid #55D97C;
  text-underline-position: under;
}

body.cart .sous-total .item-bought {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 48px;
  margin-right: 22px;
}

body.cart .sous-total .item-bought p {
  font-family: "Airbnb Cereal App Light";
  font-size: 24px;
}

body.cart .sous-total .item-bought p.price {
  font-size: 24px;
  font-family: "Airbnb Cereal App Bold";
}

body.cart .sous-total .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 53px;
  margin-bottom: 42px;
}

body.cart .sous-total .total p.price-total {
  font-size: 30px;
  font-family: "Airbnb Cereal App Light";
  margin: 0px;
}

body.cart .sous-total .total p.note {
  font-size: 24px;
  font-family: "Airbnb Cereal App Light";
  margin-bottom: 37px;
}

body.cart .sous-total .total a {
  background-color: #3b413d;
  border-radius: 25px;
  color: white;
  text-transform: uppercase;
  width: 179px;
  font-family: "Airbnb Cereal App Bold";
  font-size: 22px;
}

body.cart .wrapper-livraison .wrapper-h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 66px;
  width: 1320px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: auto;
  margin-left: auto;
}

body.cart .wrapper-livraison .wrapper-h1 h1 {
  font-size: 53px;
  font-family: "Airbnb Cereal App Bold";
  -webkit-text-decoration: underline solid #55D97C;
          text-decoration: underline solid #55D97C;
  text-underline-position: under;
  margin-bottom: 170px;
}

body.cart .wrapper-livraison .container-livraison {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1320px;
  margin-left: auto;
  margin-right: auto;
}

body.cart .wrapper-livraison .container-livraison .first-part {
  width: 60%;
}

body.cart .wrapper-livraison .container-livraison .second-part {
  width: 40%;
}

body.cart .wrapper-livraison .container-livraison .securite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body.cart .wrapper-livraison .container-livraison .securite .paiement,
body.cart .wrapper-livraison .container-livraison .securite .retour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body.cart .wrapper-livraison .container-livraison .securite .paiement div,
body.cart .wrapper-livraison .container-livraison .securite .retour div {
  width: 70%;
  text-align: center;
}

body.cart .wrapper-livraison .container-livraison .livraison,
body.cart .wrapper-livraison .container-livraison .coordonnes,
body.cart .wrapper-livraison .container-livraison .securite {
  margin-right: 400px;
  width: 600px;
  height: auto;
  border-radius: 25px;
  padding: 37px 50px 43px 50px;
  margin-bottom: 75px;
}

body.cart .wrapper-livraison .container-livraison .livraison .wrapper-h2,
body.cart .wrapper-livraison .container-livraison .coordonnes .wrapper-h2,
body.cart .wrapper-livraison .container-livraison .securite .wrapper-h2 {
  margin-bottom: 39px;
}

body.cart .wrapper-livraison .container-livraison .livraison .wrapper-h2 h2,
body.cart .wrapper-livraison .container-livraison .coordonnes .wrapper-h2 h2,
body.cart .wrapper-livraison .container-livraison .securite .wrapper-h2 h2 {
  text-align: center;
  font-size: 27px;
  font-family: "Airbnb Cereal App Bold";
  text-transform: uppercase;
}

body.cart .wrapper-livraison .container-livraison .livraison .form-check,
body.cart .wrapper-livraison .container-livraison .coordonnes .form-check,
body.cart .wrapper-livraison .container-livraison .securite .form-check {
  margin-bottom: 13px;
}

body.cart .wrapper-livraison .container-livraison .livraison .libelle-prix,
body.cart .wrapper-livraison .container-livraison .coordonnes .libelle-prix,
body.cart .wrapper-livraison .container-livraison .securite .libelle-prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 482px;
  font-family: "Airbnb Cereal App Light";
  font-size: 20px;
}

body.cart .wrapper-livraison .container-livraison .livraison form.form-coordonnees input,
body.cart .wrapper-livraison .container-livraison .coordonnes form.form-coordonnees input,
body.cart .wrapper-livraison .container-livraison .securite form.form-coordonnees input {
  border-color: #55D97C;
  border-radius: 25px;
}

body.cart .wrapper-livraison .container-livraison .livraison form.form-coordonnees input#phone,
body.cart .wrapper-livraison .container-livraison .coordonnes form.form-coordonnees input#phone,
body.cart .wrapper-livraison .container-livraison .securite form.form-coordonnees input#phone {
  width: 50%;
}

body.cart .wrapper-livraison .container-livraison .livraison form.form-coordonnees label,
body.cart .wrapper-livraison .container-livraison .coordonnes form.form-coordonnees label,
body.cart .wrapper-livraison .container-livraison .securite form.form-coordonnees label {
  font-family: "Airbnb Cereal App Light";
  font-size: 20px;
  margin-left: 15px;
}
/*# sourceMappingURL=import.css.map */